<div class="container">
  <section>
    <h1>Task Page Biznitches</h1>
    <hr>
    <h4>Task Title: <%= @task.title %></h4>
    <hr>
    <p>Members: <%= @task.description %></p>
  </section>
  <hr>
 
</div>