<!DOCTYPE html>
<html>
<head>
  <title>SixtySixDaysButTheBitchAintOne</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li>
            Home
          </li>
          <li>
            About
          </li>
          <li>
            Profile
          </li>
        </ul>
      </nav>
    </header>
    
    <%= yield %>
  
  </div>

</body>
</html>
